.navbar {
  display: flex;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #F4F8FC;

  &__img {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto 0;
  }

  &__title {
    text-align: center;
    padding-left: 0.5rem;
    color: #003559;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    margin-right: auto;
    padding: 6px 0px;
    background: linear-gradient(to right, #003559, #3A4855);
    border-radius: 1.25rem;
    list-style: none;

    li {
      margin-right: 1rem;
    }

    li:first-child {
      margin-left: 1.5rem;
    }

    li:last-child {
      margin-right: 1.5rem;
    }
  }

  .account {
    display: flex;
    padding: 0;
    align-items: center;
    list-style: none;

    li {
      padding: 0px 5px;
    }

    li:first-child {
      border-right: 1px solid #002B4E;
    }

    li:last-child {
      padding-right: 0px;
    }
  }
}
