//color 
//fonts or lebals
$veryDarkBlue:#002B4E;
//buttons
$darkBlue: #003559;
$darkGray: #3A4855;
//backgrounds or labels
$lightBlue: #BAD7F2;
$lightGray: #dadce0;
$gray: #E5E5E5;
$lightGrayBlue: #F4F8FC;

//font size 
$xs: 0.5rem;
$s: 0.75rem;
$m: 1rem;
$l: 1.2rem;
$xl: 1.5rem;

//font weight
$light: 400;
$normal: 500;
$bold: 600;