.body {
  position: relative;
  display: flex;
  padding: 6.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: $lightBlue;

  @include breakpoint-down(small) {
    flex-direction: column;
    padding: 0;
  }

  &__texts {
    position: relative;
    text-align: center;

    @include breakpoint-down(small) {
      padding: 3rem;
    }

    .body__title {
      margin: 0;
      font-size: 2rem;
    }

    .body__paragraph {
      margin: 1.5rem 0 2rem 0;
      line-height: 1.5rem;
    }

    .icon2 {
      position: absolute;
      max-width: 6rem;
      top: -2rem;
      left: -6rem;

      @include breakpoint-down(small) {
        max-width: 3rem;
        top: 9rem;
        left: 2.5rem;
      }
    }
  }


  &__imgs {
    margin-top: 0rem;
    position: relative;
    
    .img-main {
      max-width: 17.5rem;
      display: block;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      @include breakpoint-down(small) {
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
      }
    }
    
    .icon1 {
      position: absolute;
      max-width: 5rem;
      bottom: -2.5rem;
      right: -1.8rem;
      opacity: 0.6;

      @include breakpoint-down(small) {
        display: none;
      }
    }
    .icon3 {
      position: absolute;
      max-width: 7rem;
      top: -3rem;
      left: -3.5rem;
      opacity: 0.8;

      @include breakpoint-down(small) {
        display: none;
      }
    }
  }
}

.card-list-header {
  margin: 0;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  background-color: white;
  color: $veryDarkBlue;

  @include breakpoint-down("small") {
    padding: 1.3rem;
  }

  .texts {
    margin-right: auto;

    h1 {
      margin: 0;
      padding: 0;
      font-size: $xl;
      font-weight: $bold;
    }
  
    h4 {
      margin: 0;
      padding: 0;
      font-size: $m;
      font-weight: $normal;
    } 
  }
}

.card-list {
  padding: 0rem 3rem;
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: white;
}