.tutor-info {
  
  .tutor {
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @include breakpoint-down(small) {
      gap: 1rem;
    }

    &__img {
      display: block;
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      background-color: #F4F8FC;

      @include breakpoint-down(small) {
        width: 7rem;
        height: 7rem;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      
      .name {
        margin: 0px;
        font-weight: $normal;
      }

      .major-container {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        list-style: none;

        @include breakpoint-down(small) {
          display: inline-block;
        }

        .major {
          vertical-align: middle;
          padding: 0.5rem;
          border-radius: 0.2rem;
          color: white;
          background-color: $veryDarkBlue;
          font-size: 0.8rem;
          opacity: 0.8;

          @include breakpoint-down(small) {
            margin-bottom: 0.5rem;

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }

      .price {
        padding: 0.5rem;
        border-radius: 0.2rem;
        background-color: #BAD7F2;
        font-size: 0.5rem;
        font-weight: 600;
      }
    }
  }
}