.search {
  max-width: 332px;
  position: relative;
  display: flex;
  margin: 1.5rem auto;
  border: 2px solid $lightGray;
  border-radius: 0.2rem;

  &__input {
    padding: 0.6rem;
    font-size: 1rem;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .search-img {
    height: 20px;
    width: 20px;
    margin: 0rem;
    margin-right: 5px;
  }


  //search layout but now we don't have
  &__box {
    position: absolute;
    top: 38px;
    width: 330px;
    margin: 0rem;
    padding: 1rem 2rem;
    z-index: 100;
    background-color: white;
    border-top: none;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .close {       
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: 22px;
      cursor: pointer;
    }

    .list {
      margin: 0;
      padding: 0;
      position: relative;

      .list-item {
        margin: 0.5rem;
        text-align: center;
        list-style: none; 
      }
    }
  }
}